.*
_*
/*.cnf
*.srctrl*
logs/*
.vscode/
.ccls-cache
.api/jobs.*
.api/users
lib/*/
lib/*.zip
lib/*.tgz
lib/*.tar.gz
build*/
/data/
/errors/
/testlogdir*/
bin/
instances/*.cnf
instances/*.cnf.xz
instances/*.uri
instances/wcnf/*.wcnf
instances/wcnf/*.wcnf.xz
upload.sh
download.sh
.unused/
*.pdf
callgrind.out.*
nohup.out
directives.*.impcheck
compile_commands.json
cmake-build-debug/
/sbatch/generated/
generated/
