.*
_*
/*.cnf
*.srctrl*
logs/*
.vscode/
.ccls-cache
.api/jobs.*
.api/users
lib/*/
lib/*.zip
lib/*.tgz
lib/*.tar.gz
build*/
data/
bin/
instances/*.cnf
instances/*.cnf.xz
instances/*.uri
upload.sh
download.sh
.unused/
*.pdf
callgrind.out.*
nohup.out
directives.*.impcheck
