instances/large/
*.o
*.a
*.so
logs/*
src/include
src/app/sat/hordesat/minisat
src/app/sat/hordesat/lingeling
src/app/sat/hordesat/cadical
src/hordesat/*.zip
mallob
.sconsign.dblite
.vscode/
.ccls-cache

build/*

src/app/sat/hordesat/lingeling/*
src/app/sat/hordesat/yalsat/*
src/app/sat/hordesat/glucose/*

*.tar.gz
*.zip

log.*
